doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The True Cost of Unmoderated Collaboration

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    .care {
      background-image: url('images/care.gif')
    }
    .monome {
      background-image: url('images/monome.jpg')
    }
    .famous {
      background-image: url('images/famous.png')
    }
    .hn {
      background-image: url('images/hacker-news.jpg')
    }
    
    .reddit {
      background-image: url('images/reddit.png')
    }
    .wonder {
      background-image: url('images/wonder.gif')
    }
    .hate {
      background-image: url('images/hate.gif')
    }
    .salty {
      background-image: url('images/salty.gif')
    }
    .meritocracy {
      background-image: url('images/meritocracy.png')
    }
    .soylent {
      background-image: url('images/soylent.jpg')
    }
    .fear-ignorance-hate {
      background-image: url('images/fear-ignorance-hate.jpg')
    }
    .people {
      background-image: url('images/people.gif')
    }
    .rocket-turtle {
      background-image: url('images/rocket-turtle.png')
    }
    .watchmen {
      background-image: url('images/watchmen.jpg')
    }
  body

    article

      section
        h2 The True Cost of
        h2 Unmoderated Collaboration
        h3 A story from the trenches
        h4 With your host @MylesBorins
        p DinosaurJS 2017

      section(data-bespoke-backdrop='hello')
        h1 rawr

      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px' height='200px')
      
      section
        h3 I am gainfully employed by Google as a Developer Advocate
        h4 Focusing on the Node.js ecosystem and GCP
        
        img(src='images/gcp.png' alt='Google Clud Platform' style='background-color:white;')
        
        h5.headroom The opinions expressed in this talk are solely my own

      section
        h1 📛 WARNING 📛
        ul 
          li.hidden
          li Suicide
          li Trolling
          li Harassment
          li Misogyny
          li Racism
      
      section
        h1 Part 1: Preamble
      
      section
        h1 I have been involved in many online communities
      
      section
        h2 Some I am very proud of

      section(data-bespoke-backdrop='monome')
        h2 The monome community
        h3 was where I learned how to be a good open source participant
        
      section(data-bespoke-backdrop='famous')
        h2 The famous community
        h3 was where I learned how to manage an active open source community
      
      section(data-bespoke-backdrop='rocket-turtle')
        h2 The Node.js community 
        h3 is where I'm learning the true toll of being a "leader"
      
      section
        h3 Some Communities I have become less interested in being involved in
      
      section(data-bespoke-backdrop='hn')

      section(data-bespoke-backdrop='reddit')

      section
        h1 What makes me feel this way?

      section(data-bespoke-backdrop='care')
        h1 I care a lot
      
      section(data-bespoke-backdrop='wonder')
        h2 When I started in open source I was filled with wonder

      section(data-bespoke-backdrop='wonder')
        h2 Everything was amazing
        h2 So many amazing projects
        h2 So many amazing people
      
      section(data-bespoke-backdrop='hate')
        h1 But there is so much hate
      
      section
        h2 Things people hate
        ul
          li.hidden
          li Languages
          li Frameworks
          li Each Other
          li Women
          li Minorities
      
      section(data-bespoke-backdrop='salty')
        h1 Over time you cannot ignore certain patterns
      
      section
        h2 Not everyone is bad
        h3 But there is enough bad to drive people away from our communities

      section(data-bespoke-backdrop='meritocracy')
        h1 Some hold the belief that your code is all that matters
      
      section(data-bespoke-backdrop='soylent')
        h1 BUT YOUR CODE IS MADE OF PEOPLE
      
      section
        h1 PEOPLE MATTER
      
      section
        h2 Cuteness Break
        img.headroom(src="images/cute.jpg")
      
      section
        h1 Part 2: An unfortunate API

      section
        h3 The Idea
        iframe(src="https://archive.is/3N3FJ")
        
      section
        h3 The Thread
        iframe(src="https://archive.is/vVl5t")

      section
        h3 Discussions in the Diversity WG
        iframe(src="https://archive.is/75p22")
            
      section
        h3 Banning
        iframe(src="https://archive.is/Ltmle")
      
      section
        h2 Shit hit the fan
        img.headroom(src="images/shit-fan.gif")

      section
        h3 Posted on 4chan
        iframe(src="http://archive.is/zyZf5")
      
      section
        h3 Posted on 8ch
        img(src="images/8ch.jpg")

      section
        h3 Posted on Facebook
        iframe(src="https://archive.is/S9FlS")

      section
        h3 Posted on Hacker News
        iframe(src="https://archive.is/IGxl1")

      section
        h3 Posted on Kotaku in Action
        iframe(src="https://archive.is/j3hLh")

      section
        h1 People Attacked the Ideas of Men
      
      section
        h1 People Attacked Women With Ideas
      
      section
        h2 There were various targeted harassment campaigns
        h3 Against Women in our community who spoke up
      
      section
        h1 THIS 💩 IS SCARY

      section(data-bespoke-backdrop="fear-ignorance-hate")
        h1 Why do people react like this?

      section
        h3 An attempt to discuss fear
        iframe(src="https://archive.is/nbp0V")

      section
        h1 What did we do right?

      section
        h1 What did we do wrong?
        
      section
        h1 Why does a CoC matter?
      
      section
        h1 Why is a CoC useless without Moderation Guidelines?

      section
        h2 Cuteness Break
        img.headroom(src="images/cute.gif")

      section
        h1 Part 3: What did we do next?

      section
        h2 Created a document with clear moderation guidelines
        h3 Including rules and steps moderating Community Members
        h3 as well other Collaborators

      section
        h2 Opened a semi-private Moderation repo
        h3 Read / Write permissions to entire Node.js Org
        h3 +/- 500 People

      section
        h2 Actively moderated and encouraged other to do the same
        h3 Sometimes this is done through public channels
        h3 Sometimes this is done through private emails

      section
        h2 Moved disagreements and discussion on moderation
        h2 to semi-private repo
        h3 A united front is incredibly important

      section
        h1 Part 3++:
      
      section
        h3 Guess what resurfaced yesterday!!!
        iframe(src="http://archive.is/6MZMM")

      section
        h1 What did we do different?

      section
        h1 part 4: What are we still figuring out

      section
        h1 Is Callout Culture effective?

      section
        h1 Not everyone is a bad actor

      section(data-bespoke-backdrop='watchmen')
        h1 Moderating Collaborators
      
      section
        h1 Accountability of Leadership

      section
        h1 Ownership of Moderation

      section
        h1 Part 5: Closing Thoughts

      section
        h1 This 💩 is upsetting, and is burning people out
      
      section
        h1 Don't give in to group think
      
      section
        h1 Don't give in to fear
      
      section
        h2 Call out people for being terrible
        h3 Although sometimes it is kinder to message them privately

      section
        h1 Hold your leaders accountable
      
      section
        h1 Disengage from toxic communities
      
      section
        h1 Don't burn yourself out!

      section
        h3 Perhaps moderation needs to be thought of as
        h2 a support system
      
      section
        h3 There is no single person at the top
        h2 Protecting you

      section
        h3 There is only a collection of people
        h2 Protecting their community

      section
        h1 Don't forget...
        
      section
        h1 Your Code is Made of People

      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='30%' height='50%')
        h3 @MylesBorins

    script(src='build/build.js')